@use '@/styles/imports/mixins' as *;

.container {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    pointer-events: none;

    > div {
      width: 100%;
      height: 100%;
    }

    @include maxW {
      width: 188%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -52%);
    }
  }

  .bottom {
    position: absolute;
    bottom: 32px;
    left: 36px;
    z-index: 1;

    .icon {
      display: flex;
      font-size: 2rem;
      line-height: 1.35;
      margin-bottom: 17px;
    }

    .address {
      margin-left: 4px;
    }

    @include maxW {
      bottom: 18px;
      left: 21px;

      .icon {
        font-size: 1.6rem;
        margin-bottom: 10px;
      }

      .address {
        margin-left: 1px;
      }
    }
  }
}
