@use '@/styles/imports/mixins' as *;

.container {
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3vw;
  }
}
